.notification {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem;
}

.notification h1 {
  margin: 0 auto;
}

.notification-container {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.notification-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #ffd2da;
  border-radius: 20px;
  padding: 1rem;
  width: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button-container button {
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.like-button {
  background-color: #b3ffcc;
  font-family: "Poppins";
  border: 0;
  padding: 1rem;
}

.ignore-button {
  background-color: #ff8080;
  font-family: "Poppins";
  border: 0;
  padding: 1rem;
}

#button-pagination {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.popup-ignore-notif,
.popup-like-notif {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  position: fixed;
}

.button-container-popup {
  margin-top: 20px;
}

.button-container-popup button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.no-button-1,
.no-button-2 {
  background-color: #ccc;
  color: #333;
}

.yes-button-1,
.yes-button-2 {
  background-color: #ff0000;
  color: #fff;
}

.mx-auto {
  margin: 0 auto;
}
