input,
select,
.form-buttons {
  display: none;
}

p {
  display: block;
}

.view_detail {
  padding: 2rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 400px;
}

.profile_detail {
  background-color: #ffd2da;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}

@media (max-width: 1024px) {
  .view_detail {
    min-width: 0;
    width: 80%;
  }
  .header {
    flex-direction: column;
  }
}

label {
  font-weight: bold;
}

input,
select {
  padding: 1rem;
}

input[type="file"] {
  padding: 0 !important;
}

button {
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  background-color: #f6f5d1;
  border: 0;
  border-radius: 10px;
}

.header img {
  margin: 0 auto;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #323949 3px solid;
}

@media (max-width: 420px) {
  .header img {
    width: 100px;
    height: 100px;
  }
}

.logout-user {
  background-color: #ffd2da;
}

.button-container {
  margin-bottom: 2rem !important;
}

.container {
  gap: 0 !important;
}
