.main-container {
  max-width: 800px;
  margin: 0 auto;
  height: calc(100vh - 9.5rem);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px;
}

.refresh {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 170px;
  right: 0;
  margin: 30px;
  padding: 0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffd2da;
}

.delete-chat {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 170px;
  right: 60px;
  margin: 30px;
  padding: 0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffd2da;
}

.refresh img,
.delete-chat img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.user-chat-component,
.other-chat-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.user-chat-component {
  align-items: flex-end;
}

.sender-name {
  font-weight: bold;
}

.div-message {
  max-width: 70%;
}

.message {
  border-radius: 1rem;
  max-width: 100%;
  background-color: #ffd2da;
  padding: 1rem;
  display: inline-block;
  word-wrap: break-word;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.chat-input textarea {
  font-family: inherit;
  font-size: inherit;
  flex-grow: 1;
  border-radius: 5px;
  padding: 1rem;
  resize: none;
  font-size: 1rem;
  height: auto;
  min-height: 3rem;
  max-height: 30rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.chat-input button {
  border-radius: 5px;
  background-color: #ffd2da;
  padding: 0.5rem;
  margin-left: 0.5rem;
  height: 50px;
  width: 80px;
}

@media screen and (max-width: 460px) {
  .chat-input {
    flex-direction: column;
    padding: 10px 10px;
    gap: 1rem;
  }
  .chat-input textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .refresh,
  .delete-chat {
    bottom: 250px;
  }
}

.chat-input button:hover {
  background-color: #c0a1a7;
}

.yes-button {
  background-color: #ff0000;
  color: #fff;
}

.no-button {
  background-color: #ccc;
  color: #333;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  position: fixed;
}

.popup-delete {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

.button-container-popup {
  margin-top: 20px;
}

.button-container-popup button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
