.recommend {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.recommend h1 {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.recommend-container {
  padding: 2rem 0;
  display: grid;
  flex-direction: row;
  gap: 1.5rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .recommend-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .recommend-container {
    grid-template-columns: 1fr;
  }
}

.card-profile {
  display: flex;
  flex-direction: column;
  background-color: #ffd2da;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 1rem;
}

.desc-profile {
  width: 100%;
}

.gap-1 {
  gap: 1.5rem;
}

.img-profile {
  width: 100%;
  display: flex;
}

.img-profile img {
  margin: 0 auto;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #323949 3px solid;
}

.detail-info {
  width: 33%;
}

.card-nama {
  text-align: center;
}

.pt-4 {
  padding-top: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}
